@tailwind base;
@tailwind components;
@tailwind utilities; 

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
 

:root {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  background-color: white;
  color:white;
  background-color: rgb(2, 2, 22);

}

.font-sora{
  font-family: "Sora", sans-serif;
  /* font-weight: 700; */
}
body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
.text-gradient
{
  background: linear-gradient(90deg, #F87516 0%, #5E11FF  50%, #5E11FF 50%, #5E11FF 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.purchasebtn{
  width: 300px;
  height: 60px;
  border-radius: 15px;
  font-size: 20px;
  background: linear-gradient(90deg, #5E11FF 0%,  #F87516 100%);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.sectionbg{
  background:linear-gradient( to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.08)) ;
  box-shadow: 
  -1px -1px 3px rgba(153, 153, 158, 0.3), /* Left shadow */
  0px -1px 3px rgba(153, 153, 158, 0.3); 
}
footer{
  background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);

}
@media (max-width:500px) {
  .purchasebtn{
    width: 75vw;
    font-size: 17px;
  }
  
}
.color-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.color {
  position: absolute;
  width: 90px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.8;
  margin: 20%;
}

nav{
  z-index: 2;
}
